<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Api Commands</title>
</head>
<body>
History refers to messages sent.
<p>/api/eventlog</p>
<i>&emsp;- returns a list of all noticeable socket.io event</i>

<p>/api/history</p>
<i>&emsp;- returns a list of the history</i>

<p>/api/history/&lt;room name&gt;</p>
<i>&emsp;- returns a list of the history, by room name (must be lower case)</i>

<p>/api/apilog</p>
<i>&emsp;- returns a list of all api requests made</i>

</body>
</html>